backend/docs

.idea
backend/.idea
backend/.gradle

backend/python/doc-parser-python/.idea
backend/python/doc-parser-python/REVIEW.md

# Backend
backend/.gradle/
backend/build/
backend/.idea/
backend/*/build/

# Java
backend/java/.gradle/
backend/java/build/
backend/java/*/build/

# IDE
.idea/
*.iml
*.iws

# Environment
.env

# Python
**/.venv/
**/__pycache__/

# Gradle (для подмодулей)
**/gradlew
**/gradlew.bat
**/gradle/wrapper/

# IDE & Editors
**/.idea/
**/.obsidian/
**/*.iml
